body {
  background-color: hsl(30, 38%, 92%);
  margin: 0 18px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 96vh;
}

.serif {
  font-family: 'Fraunces', serif;
}

.sans-serif {
  font-family: 'Montserrat', sans-serif;
}

.text-white {
  color: hsl(0, 0%, 100%);
}

.text-gray {
  color: hsl(228, 12%, 48%);
}

.text-blue {
  color: hsl(212, 21%, 14%);
}

.text-cyan {
  color: hsl(158, 36%, 37%);
}

.card {
  display: flex;
  height: 465px;
  width: 620px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.05) 0px 4px 8px;
}

.left {
  flex: 1;
}

.left picture img {
  max-width: 100%;
  display: block;
}

.right {
  flex: 1;
  background-color: hsl(0, 0%, 100%);
}

.content {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.category {
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.5rem;
  opacity: 75%;
}

.main-title {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 2.15rem;
  line-height: 2.25rem;
}

.description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 22px;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-bottom: 28px;
}

.big-price {
  font-size: 2rem;
  font-weight: 700;
}

.crossed-price {
  text-decoration: line-through;
  font-size: 0.9rem;
}

.submit-btn {
  all: unset;
  display: flex;
  gap: 12px;
  justify-content: center;
  background-color: hsl(158, 36%, 37%);
  padding: 16px 0px;
  border-radius: 8px;
  width: 100%;
  transition: all 200ms ease-in-out;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: hsl(158, 36%, 21%);
}

.cart-icon {
  height: auto;
}

.btn-text {
  font-size: 0.9rem;
}

.attribution {
  font-size: 0.65rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  .card {
    flex-direction: column;
    height: 640px;
  }

  .left {
    flex: none;
  }

  .right {
    flex: 1;
  }

  .category {
    font-size: 0.75rem;
    letter-spacing: 0.3rem;
  }

  .main-title {
    margin-top: 12px;
    font-size: 1.9rem;
    line-height: 2rem;
  }

  .description {
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-bottom: 24px;
  }

  .price {
    margin-bottom: 16px;
  }
}
